.center-obj {
	text-align: center;
	/*让div内部文字居中*/
	background-color: #fff;
	border-color: black;
	border: 1px solid #000;
	padding: 20px 10px;
	border-radius: 20px;
	width: 300px;
	height: 350px;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

/* 将容器的位置设置为固定，并将其固定在右下角 */
#image-container {
	position: fixed;
	bottom: 0;
	right: 0;
	margin: 10px;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: flex-end;
}

/* 创建一个用于包装每个图像的子容器 */
.image {
	margin: 6px;
	border: 3px solid orange;
}

/* 调整每个图像的大小和边距，以适应子容器 */
.image img {
	width: 70px;
	height: 70px;
}

#scale-line {
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
}

.scale-line-center {
	text-align: center;
}

#rotate {
	position: absolute;
	top: 20px;
	right: 30px;
}

.ol-mouse-position {
	margin: 0 auto;
	left: 50%;
	transform: translateX(-17%);
}

#overviewMap {
	position: absolute;
	bottom: 40px;
	left: 0px;
}

.ol-mouse-position {
	color: #470f06;
	text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
}

#legend {
	position: absolute;
	top: 60px;
	right: 10px;
	border: 3px solid darkorange;
}
/* #popup {
	background-color: white;
	border: 1px solid black;
	padding: 5px;
  } */

  table {
	border-collapse: collapse;
  }
  
  td {
	border: 1px solid black;
	padding: 3px;
  }
  
  .circle {
	height: 10px;
	width: 10px;
	border-radius: 50%;
	display: inline-block;
  }
  
  .red {
	background-color: red;
  }
  
  .yellow {
	background-color: yellow;
  }
  
  .blue {
	background-color: blue;
  }
  
  .green {
	background-color: green;
  }

  #table-legend{
	position: absolute;
	top: 60px;
	right: 10px;
	border: 3px solid darkorange;
  }

  .mode_change_button{
	padding:5px;
  }

  .mode_button{
	width: 100px;
  }

  .mol-popup {
	position: absolute;
	background-color: rgba(255, 255, 255, 0.7);
	border: 1px solid black;
	
	padding: 15px;
	top: 0px;
	left: 0px;
  }
  .mol-popup-closer {
	text-decoration: none;
	position: absolute;
	top: 2px;
	right: 8px;
  }